@using Microsoft.AspNetCore.Identity
@using WorkshopManager.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Witaj, @User.Identity?.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="ManageUsers">Zarządzanie użytkownikami</a></li>
                    <li><hr class="dropdown-divider"></li>
                }
                <li>
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">Wyloguj się</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj się</a>
        </li>
    }
</ul>
