@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <h3>Polityka prywatności systemu Workshop Manager</h3>

        <h4>1. Wprowadzenie</h4>
        <p>
            Niniejsza polityka prywatności opisuje, w jaki sposób Workshop Manager
            zbiera, wykorzystuje i chroni informacje osobiste użytkowników.
        </p>

        <h4>2. Zbierane dane</h4>
        <p>Zbieramy następujące typy danych:</p>
        <ul>
            <li>Dane logowania (nazwa użytkownika, hasło)</li>
            <li>Dane osobowe (imię, nazwisko, email)</li>
            <li>Dane klientów warsztatu</li>
            <li>Informacje o pojazdach i naprawach</li>
        </ul>

        <h4>3. Wykorzystanie danych</h4>
        <p>Dane są wykorzystywane wyłącznie do:</p>
        <ul>
            <li>Zarządzania warsztatem samochodowym</li>
            <li>Generowania raportów i faktur</li>
            <li>Komunikacji z klientami</li>
            <li>Zapewnienia bezpieczeństwa systemu</li>
        </ul>

        <h4>4. Ochrona danych</h4>
        <p>
            Stosujemy odpowiednie środki techniczne i organizacyjne
            w celu ochrony danych osobowych przed nieuprawnionym dostępem,
            utratą lub zniszczeniem.
        </p>

        <h4>5. Kontakt</h4>
        <p>
            W przypadku pytań dotyczących polityki prywatności,
            prosimy o kontakt z administratorem systemu.
        </p>
    </div>
</div>